@model LopHoc
<div class="container">
    <h3>Xem chi tiết Lớp học</h3>
    Id: <b>@Model.Id</b> </<br />
    Tên lớp học: <b>@Model.TenLopHoc</b></<br />
    Năm nhập học: <b>@Model.NamNhapHoc</b>
    Năm ra trường: <b>@Model.NamRaTruong</b>
    Số lượng sinh viên: <b>@Model.SoLuongSinhVien</b>
</div>

