@model Customer
<div class="container">
    <h3>Xem chi tiết Customer</h3>
    Id: <b>@Model.CustomerId</b> </<br />
    Tên Customer: <b>@Model.CustomerName</b></<br />
    Địa Chỉ: <b>@Model.Address</b> <br />
    Số Điện thoại: <b>@Model.PhoneNumber</b></<br />
    Email: <b>@Model.Email</b></<br />
</div>
